@* csslink Template File *@
@(param: Any)

<!-- links to css, javascript, jquery, bootstrap, jquery validation -->

	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap-3.3.2-dist/css/bootstrap.min.css")" )>        
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("bootstrap-3.3.2-dist/js/jquery_2.1.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bootstrap-3.3.2-dist/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("jquery-validation-1.13.1/dist/jquery.validate.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("jquery-validation-1.13.1/dist/additional-methods.js")" type="text/javascript"></script>
  