@* leftlinkpanel Template File *@
@(param: Any)
<div>
	<div class="panel panel-default">
	  <div class="panel-body">
	  	<div class="panel panel-default" style="font-size:15px;">
	    	<ul>
	    		<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><a href="#"> Home</a></li>
	    		<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#"> About Us</a></li>
	    		<li><span class="glyphicon glyphicon-th" aria-hidden="true"></span><a href="#"> Projects</a></li>
	    		<li><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><a href="#"> Technologies</a></li>
	    		<hr/>
	    		<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#"> Knolx <span class="badge">New</span></a></li>
	    		<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><a href="#"> Contact Us</a></li>
	    	</ul>
	    	<ul class="list-group">
  				<li href="#" class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">Contact Us</a></li>
  				<li href="#" class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">Our Services</a></li>
  				<li href="#" class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">Our Team</a></li>
  				<li href="#" class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">Our Process</a></li>
  				<li href="#" class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">Our Standards</a></li>
			</ul>	
	  	</div>
			  	
	  </div>
	</div>
</div>