@* login Template File *@
@(title: String)(implicit loginflash: play.api.mvc.Flash)

@loginMain("title"){
	<div class="row">
		<div class="col-md-12" style="padding-left:3%; padding-right:5%;">
			<br/>
			@loginflash.get("regmsg").map { message =>
				<div class="alert alert-dismissable alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Message:</strong> @message
				</div>
			}.getOrElse(
				<div class="alert alert-dismissable alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Message:</strong> Welcome to Knolx! Please LogIn for aceess or register now!
				</div>
			)
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
	       	<div>
				<img style="width:100%;" src="@routes.Assets.at("/images/emp.jpg")"  alt="Image">	
			</div>
	    </div>       		
	</div>
}