@* myprofile Template File *@
@import com.knoldus.models._
@import helper._

@(title:String, user: String, userForm :Form[User])

@main("My Profile",user){
	<div class="row" style="padding-top:2%;">
	    <div class="col-md-8">
	       	<h4>My Profile:</h4>
	  			<div style="padding:2%;">
				@form(routes.Application.updateprofile(),'id->"editform") {    
     				<fieldset>
        			    @inputText(userForm("name"), '_label -> "Name", 'class -> "form-control")
        			    @inputText(userForm("address"), '_label -> "Address", 'class -> "form-control")
        			    @inputText(userForm("company"), '_label -> "Company", 'class -> "form-control")
        				@inputText(userForm("email"), '_label -> "Email", 'class -> "form-control")
        				@inputPassword(userForm("password"), '_label -> "Password", 'class -> "form-control")
        				@inputText(userForm("phone"), '_label -> "Contact No", 'class -> "form-control")
        			</fieldset>
        			<div class="actions">
        				<br/>
            			<input type="submit" value="Update" class="btn btn-primary"> or 
            			<a href="@routes.Application.index()" class="btn btn-default">Cancel</a> 
        			</div>
    				}
    			</div>
    	</div>
	    <div class="col-md-4">
	    	<img style="height:100%;width:100%;" src="@routes.Assets.at("/images/user.png")" alt="Image not found"/>
	    	<a class="btn btn-default" href="#">Edit picture</a>
	    </div>
	</div>
}
<!-- Script to validate client side form validations -->
<script>
	$("#editform").validate({
		rules : {
			name : {
				required : true
			},
			company:{
				required:true
			},
			password : {
				required : true
			},
			email:{
				required:true,
				email:true
			}
		}
	});
</script>

